[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[user]
	name = Calvin Yu
	email = csyu77@gmail.com
[github]
	user = cyu
	token = b3d965f4a1d7b03e87a32bd9c93f54aa
[alias]
	st = status
 	ci = commit
	br = branch
	co = checkout
	df = diff -b
	lg = log -p
	diff = diff -b
[branch]
	autosetupmerge = true
[push]
	default = tracking
