[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[user]
	name = Calvin Yu
	email = csyu77@gmail.com
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff -b
	diff = diff -b
	staged = diff -b --staged
	amend = commit --amend
[branch]
	autosetupmerge = true
[push]
	default = tracking
[format]
	pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
